@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');

* {
    font-family: 'Helvetica', sans-serif;
}

nav {
    position:fixed;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
    height: 100px;
    background-color: rgba(10, 75, 66, 0.767);
}

pre {
    background-color:rgba(6, 104, 117, 0.692) !important;
    border-radius: 5px;
    border: 2px solid black;
}

footer {
    background-color:rgb(9, 9, 48);
}