@import url('https://fonts.googleapis.com/css2?family=Papyrusr&display=swap');

* {
    font-family: 'Papyrus', cursive;
}

nav {
    position:fixed;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
    height: 100px;
    background-color: rgba(51, 8, 133);
}

pre {
    background-color:rgba(55, 7, 146, 0.692) !important;
    border-radius: 5px;
    border: 2px solid black;
}
footer {
    background-color:rgb(51, 8, 133);
}