@import url('https://fonts.googleapis.com/css2?family=Lucida+Console&display=swap');

* {
    font-family: 'Lucida Console', cursive;
}

nav {
    position:fixed;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
    height: 100px;
    background-color: rgba(122, 115, 14, 0.9);
}

pre {
    background-color:rgba(143, 129, 9, 0.692) !important;
    border-radius: 5px;
    border: 2px solid black;
}

footer {
    background-color:rgb(48, 41, 9);
}